body{
    display: flex;
    justify-content: center
}
#calculator{
    background-color: rgb(45, 45, 45);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
    width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    border: none;
    color :white;
    background-color: rgb(86, 86, 86);
}   
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(97, 97, 97);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(149, 149, 149);
}
button:active{
    background-color: rgb(182, 181, 181);
}
.O_button{
    background-color: rgb(246, 164, 13);
}
.O_button:hover{
    background-color: rgb(248, 178, 50);
}
.O_button:active{
    background-color: rgb(253, 189, 70);
}